.header__btn-exit {
  padding: 0;
  background: transparent;
  border: 0;
  text-decoration: none;  
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #A9A9A9;
  transition: opacity 0.2s linear;
  cursor: pointer;
}
.header__btn-exit:hover {
  opacity: 0.6;
}
