.element__button {
  background: url(../../../images/likeIcon.svg) no-repeat;
  width: 22px;
  height: 19px;
  border: 0;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.element__button:hover {
  opacity: .5;
}
