.header__link {
  padding: 0;  
  border: 0;
  text-decoration: none;  
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
  transition: opacity 0.2s linear;
  cursor: pointer;
}
.header__link:hover {
  opacity: 0.6;
}
