.register__redirect-button {
  background-color: transparent;  
  padding: 0;
  margin: 15px 0 50px;
  border: 0;
  width: 100%;
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.register__redirect-button:hover {
  opacity: 0.6;
}
