.profile__avatar-container {
  width: 120px;
  height: 120px;
  position: relative;
  margin-right: 30px;
}

@media screen and (max-width: 1024px) {
  .profile__avatar-container {
    margin: 0;
  }
}
