.popup__form-input {
  box-sizing: border-box;
  width: 100%;
  border: 0;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 13px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  position: relative;
}

.popup__form-input:focus {
  outline: none;
}

.popup__form-input.popup__input_type_error {
  border-bottom: 1px solid #FF0000;
}
