.profile__text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


@media screen and (max-width: 1024px) {
  .profile__text-container {
    align-items: center;
  }
}

