.profile__avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  opacity: 0;
  background-color: black;
  transition: opacity 0.3s;
  cursor: pointer;
}

.profile__avatar-overlay:hover {
  opacity: 0.8;
}

.profile__avatar-overlay::before {
  content: '';
  background: url(../../../images/avatar_change.svg) no-repeat center;
  position: absolute;
  height: 120px;
  width: 120px;
  top: 0;
  left: 0;
}
